p {
    font-size: 20px;
    text-align: center;
    color: whitesmoke;
    padding: 10px;
    padding-top: 35px;
}
body {
    background-image: url(https://wallpaperplay.com/walls/full/d/f/a/79361.jpg);
	background-size: cover;
	
}
#line1{
  padding-top: 50px;
  padding-left: 34%;
  font-size: 20px;
  text-align: left;
  justify-content: center;
  position: relative;
}
.row{	
	padding-top: 50px;
	padding-left: 0%;
	font-size: 20px;
	text-align: left;
	justify-content: center;
	position: relative;
}
#button {
  background-color: rgb(187, 9, 9);
}
#box {
	display: block;
	float: left;
	position: relative;
	padding: 15px;
	margin: 15px;
}
#box img {
	max-width: 400px;
	width: 100%;
}
.container {
	color:whitesmoke;
	background-color: transparent;
	width: 940px;
	padding: 40px;
	margin: 0 auto;
	margin-bottom: 35px;
	margin-top: 35px;
	position: relative;
	padding-bottom: 100px;
}
#container {
	text-align: center;
	padding: 20px;
}
#container1 {
	padding: 20px;
}
li {
	display: inline-block;
	padding: 10px;
	right: 15%;
}
#img-1 {
	float: left;
	width: 200px;
	height: 220px;
	padding: 18px;
}
.contact {
	height: 100%;
	width: 100%;
}
textarea {
	width: 100%;
	height: 500px;
	padding: 10px;
	margin-bottom: 10px;
}
input[type="text"] {
	width: 50%;
	padding: 10px;
	margin-bottom: 10px;
}
.box1 {
	padding-top: 11px;
	display: inline-block;
	position: relative;
	border-radius: 10px;
}
.box2 {
	padding-left: 10px;
	padding-top: 11px;
	display: inline-block;
	position: relative;
	border-radius: 10px;
}
.box4 {
	padding-left: 10px;
	padding-top: 8px;
	display: inline-block;
	position: relative;
	border-radius: 10px;
}
.text:hover{
	box-shadow: inset 0 0 0 4px #df4d4d65;
	cursor: pointer;


}
.text {
	color: whitesmoke;
	background-color:transparent;
	width: 100%;
	height: 50px;
	position: absolute;
	left: 0px;
	top: 369px;
	font-family: Georgia, 'Times New Roman', Times, serif;
	text-align: center;
	padding-top: 5px;
	box-shadow: inset 0 0 0 4px #df4d4d65;
}
#content {
	float: right;
	width: 960px;
	margin:auto;
	padding-top: 150px;
	text-align: center;
}
img {
	border-radius: 10px;
}

.footer {
	width: 100%;
	background-color: black;
	color: white;
	text-align: center;
	height: 38px;
}
.fixed-bottom {
	background-color: black;
	color: white;
	margin-top: 10px;
	padding-top: 0px;
	height: 40px;
	text-align: center;
}